---
# Descriptions of arguments below 

# For data simulation 
data: 
  exp_root: happy # root name of experiment
  exp_id: woopsie # for example: LGCP_test_1
  cluster_name: "Archilochus2" # NULL if artifical data def experiments are being run, o/w enter the cluster name
  raw_data: "hummingbirdSA" # if sim is FALSE, provide a raw dataset name with real data files
  repno: 1 # which repno is this (temporal experiments are always 1)
  focal_sp: "ALL" # If no one species is picked as focal, insert "ALL"
  def_level: "e2024" #["y5", "y25", "y50"] # For real data, level of deficiency. e2024 for full dataset. Numbers for levels e.g. 5 for 5 pres records. NOTE this should be a string, not a number. # for figure 2 of simulations in the NEE ["y5", "y25", "y50"] 
  autocommit: TRUE # logical - whether or not to autocommit to git (TRUE) for yes, (FALSE) for no
  buildLocal: TRUE # Build the job files locally but run on the HPC
  nrep: 1 # number of reps
  thin: TRUE # spatially thinning? yes (TRUE) or no (FALSE)
  offsets: ["soft_clip"] # out of distance, duration, num_observers and soft_clip

data_sim: 
  sim: FALSE # simulate or not
  deficiency: FALSE  # logical - should one species be made deficient ?
  user_grid: FALSE # Should user coordinates be used (TRUE) or a synthetic systematic sampling grid 
  grid_relpath: "raw_data/hummingbirdSA/hummingbird_sa_cood.Rdata" # If user sampling grid is true, relative path to user grid
  tree_relpath: "trees/standard_sim.Rdata" # No longer doing tree generation along with data generation - provide relative path to tree
  binary: FALSE # logical - abundance data (FALSE) or presence/absence (TRUE)
  def_n: 200 # number of records deficient species should have
  focal_sp_sim: "B" # which species should be deficient 
  var:  # which variable (or variables) are going to be toggled 
    parent: "phylo" # where are they located
    feature: ["alpha", "sigma2"] # name of variable (or variables) to be toggled
  indBetas: FALSE # logical - should betas be simualted independently (TRUE) or not (FALSE)
  num_rec: 200 # number of occurrence records to be simulated
  nseeds: 1 # number of seeds 
  practice_wheels: FALSE # Easy simulation (TRUE) or "realistic simulation" (FALSE)
  ou_betas: TRUE # Use OU covar to simulate betas 


# For phylo simulation 
phylo:
  tree_name: "standard_sim" # name of tree to read in - other tree params not used by gen_data 
  tree_time: 10  # amount of time you want the tree simulation to run for
  ntips: NULL # If not null, turns on rtree simulation where exact number of tips can be specified
  ntraits: 2 # number of traits to simulate
  mean_root_vector: [1, 1] # mean of the traits
  covar_traits: [0.5, 1, 1, 2.5] # variance and covariance of simulated traits
  sigma2: 
    value: [100] # amount of variation in the change in trait during the ou sim
    interpol: FALSE # logical - use specified sigma2 vector as is (FALSE) or turn into sequence (TRUE)
    interpol_step: 0.1 # if interpolate, specify interpolation step size
    log: FALSE # log interpolation or not 
  alpha: 
    value: [0] # "rubber band" parameter for the trait. [0,1) where 1 is strongly conserved, 0 is BM
    interpol: FALSE # logical - use specified alpha vector as is (FALSE) or turn into sequence (TRUE)
    interpol_step: 0.1 # if interpolate, specify interpolation step size
    log: FALSE # log interpolation or not 
  rho: 
    value: [3] # For practice wheels 
    interpol: FALSE
    interpol_step: 0.1
    log: FALSE
  alpha2: 
    value: [1] # For practice wheels 
    interpol: FALSE 
    interpol_step: 0.1
    log: FALSE
  atleastN: 8 # least number of a tips a tree should have
  notMoreThan: NULL # opposite of atleastN, notMoreThan is the cap for number of species allowed in the tree
  # NOTE: Either atleastN or notMoreThan need to be NULL

# For modelling
mod:
  U:   
    value: [4] # Upper limit on inverse gamma prior  
    interpol: FALSE # logical - use specified U vector as is (FALSE) or turn into sequence (TRUE)
    interpol_step: 1 # if interpolate, specify interpolation step size
  a: 
    value: 1 # inverse gamma hyper parameter or mean for nicheEvol
    interpol: FALSE # logical - use specified a vector as is (FALSE) or turn into sequence (TRUE)
    interpol_step: 1  # if interpolate, specify interpolation step size
  b: 
    value: 1 # inverse gamma hyper parameter or sd for nicheEVol
    interpol: FALSE # logical - use specified b vector as is (FALSE) or turn into sequence (TRUE)
    interpol_step: 1  # if interpolate, specify interpolation step size  rho_mean: 
  rho_mean: 
    value: 0.8 # rho mean for hyperprior, real lower = -10 
  rho_sd: 
    value: 0.2 # real lower = 0
  alpha_mean: 
    value: 0 # alpha mean for hyperprior, real lower =  -10
  alpha_sd:
    value: 0.4 # real lower = 0 

# Stan specs 
stan_specs: 
  models: ["LGCP_background", "LGCP_nophylo_background"] # list of all the models to be run under this experiment
  iter: 8000  # number of iterations to run stan model for
  warmup: 3000 # burnin
  chains: 1 # number of chains for stan model
  thin: 10 # thinning - this should be less than number of iterations
  cores: 1 # number of cores to run on (most efficient if cores = chains), keep 1 for hpc

# HPC specs 
hpc_specs: 
  dsq: FALSE # DSQ or not 
  MEM: '20G' # memory required for this experiment (per model)
  TIME: '10:00:00' # time required on the hpc for this experiment (per model)
  MAIL_TYPE: 'ALL' # notifications - recommend "ALL"
  OUT: 'log/slurm-%j.out' # where to write out log file
  NODES: 1 # number of nodes required for this experiment
  NTASKS: 1 # number of tasks
  CPUSPERTASK: 4 # number of cpus per task
  MAIL_USER: 'shubhi.sharma@yale.edu' # user email
  PARTITION: 'day' # day or week for mccleary
  AUTO_SUBMIT: FALSE # logical - jobs submitted automatically (TRUE) or manually (FALSE)

